.app.dark {
    --bg-color: #0e0e75;

    --inverted-bg-color: rgb(241, 240, 233);

    --primary-color: #049604;
    --secondary-color: #04ff04;

    --inverted-primary-color: #af158e;
    --inverted-secondary-color: #049fff;
}